:root {
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
}
.AAA {
  background-size: cover;
  height: unset;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}

.body_content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 87vh;
  /* width: 87vw; */
  margin: 0 20px;
}
/**/
.body_text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 18px;
}
.body_text-content span {
  color: rgb(191 194 217);
  text-transform: uppercase;
  font-size: calc(1rem + 1vw);
  word-spacing: 5.5px;
}
.body_text-content h1 {
  font-family: "Bellefair", serif;
  font-size: calc(4rem + 5vw);
}
.body_text-content p {
  font-size: 18px;
  word-spacing: 2px;
  line-height: 25px;
  color: rgb(191 194 217);
}
/**/

.body_explore-bt {
  width: calc(7rem + 8vw);
  height: calc(7rem + 8vw);
  border-radius: 100%;
  text-decoration: none;
  border: transparent;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.2rem;
  outline: 0px solid #ffffff78;
  transition: outline 500ms linear 0s;
  animation: myAnim 8s ease 6s infinite normal both;
}
@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.body_explore-bt:hover {
  outline: 20px solid #ffffff82;
}

/*DESTINATION*/
.Main_Content-Destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 65vh;
}
.tag_page {
  text-transform: uppercase;
}
.Container_planet-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container_planet-table img {
  width: calc(9rem + 19vw);
}
.Container_desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.planet_name-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.planet_name-desc h1 {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  margin: 18px 0;
  font-size: 2.8rem;
}
.planet_name-desc p {
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.5px;
}
.planet_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border-top: 1px solid #ffffff38;
  padding: 30px 100px;
}
.planet_info p {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.buttons_planest button {
  background: transparent;
  border-color: transparent;
  color: white;
  margin: 0 15px;
}
a {
  text-decoration: none;
}
/*CREW*/
.Crew_main-container {
  display: flex;
  width: 80vw;
  text-align: center;
  margin: auto;
  align-items: center;
  height: 80vh;
  justify-content: space-around;
  flex-direction: column;
}

.Crew_container-data img {
  width: calc(9rem + 19vw);
}
.Crew_container-bts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}
.Crew_container-bts button {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: transparent;
  background: #ffffff7d;
}
/*Tech*/
.Tech_Main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tech_Container-img img {
  width: 100vw;
  margin: 1rem 0;
}
.Tech_Btn-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Crew_Btn-container {
  margin: 1rem;
}
.Crew_Btn-container button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  font-size: xx-large;
  font-family: "Bellefair", serif;
  margin: 0 1rem;
}
p.Tech_Title-seccion {
  text-transform: uppercase;
  color: white;
  padding: 1.8rem 0;
}
.Tech_Desc-container p {
  font-size: 15px;
  margin-top: 3vh;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (orientation: portrait) and (min-width: 768px) {
  /*1:04 horas*/

  div#root {
    align-items: unset;
  }

  .AAA {
    height: 100vh;
  }
  /**/
  .body_text-content h1 {
    font-size: calc(5rem + 10vw);
  }
  .body_text-content p {
    line-height: 30px;
  }

  /**/
  .body_content-home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .body_text-content {
    width: calc(22rem + 10vw);
  }
  /**/
  .body_explore-bt {
    width: calc(11.31rem + 8vw);
    height: calc(11.3rem + 8vw);
    margin-top: 2.2rem;
    max-width: 11rem;
    max-height: 11rem;
  }
  /**/
  .planet_name-desc h1 {
    font-size: 4.8rem;
  }
  .Container_planet-table {
    width: 80vw;
    gap: 50px;
  }
  /*crew*/

  .Crew_desc-container p {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
  }
  /*Technology*/
  .Tech_Desc-container p {
    font-size: 16px;
    margin-top: 3vh;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (orientation: landscape) and (min-width: 768px) {
  .AAA {
    height: 100vh;
  }
  .body_content-home {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 60vh;
    width: 75vw;
    margin: auto;
  }
  .body_text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 18px;
    align-items: flex-start;
    width: calc(18rem + 10vw);
    text-align: unset;
  }
  /*DESTINATION*/
  .Container_planet-table {
    width: 80vw;
  }

  .Main_Content-Destination {
    margin-top: 80px;
  }
  .Container_planet-table {
    width: 80vw;
    margin: 30px 0px;
    flex-direction: row;
  }

  .buttons_planest button {
    font-size: 1.5rem;
  }
  .planet_name-desc h1 {
    font-size: 4.8rem;
  }
  .planet_name-desc p {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
  }
  .planet_info {
    flex-direction: row;
  }
  /*Crew*/
  .Crew_main-container {
    height: 75vh;
  }
  .Crew_desc-container > p:nth-child(1) {
    text-align: left;
    font-size: 32px;
    color: white;
    opacity: 50%;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .Crew_container-data {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .Crew_desc-container h1 {
    text-align: left;
    font-size: 56px;
    color: white;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    padding: 0 90px 0 0;
  }
  .Crew_desc-p {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    padding-right: 80px;
    padding-left: 0px;
  }
  .Crew_desc-p > p {
    color: #d0d6f9;
  }
  .Crew_container-bts {
    justify-content: flex-start;
    margin: 100px 0 0 0;
  }

  .Crew_Container-bts_cont {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 auto;
    width: 45%;
  }

  .cont {
    flex: 0 0 auto;
    width: 50%;
  }
  .Crew_container-data img {
    width: calc(5rem + 19vw);
    position: absolute;
    bottom: 0;
    right: 7rem;
  } /* ------------*/
  .Tech_Main-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .Tech_Btn-desc-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 40%;
  }
  .Tech_Main-container {
    gap: 6rem;
    justify-content: center;
    height: 64vh;
  }
  .Tech_Container-img img {
    width: 24rem;
    margin: unset;
  }
  .Crew_Btn-container button {
    width: 80px;
    height: 80px;
    margin: 20px 0;
  }
  .Tech_Desc-container p {
    text-align: initial;
    font-size: 18px;
    color: #d0d6f9;
  }
  .Tech_Btn-desc-container {
    width: 45%;
  }
  .Tech_Desc-container p:nth-child(3) {
    font-size: 18px;
    margin-top: 3vh;
    text-align: left;
    padding-right: 50px;
    padding-left: 0px;
  }
  .Tech_Desc-container p:nth-child(2) {
    font-size: 56px;
    font-family: "Bellefair";
    text-transform: uppercase;
  }
  p.Tech_Title-seccion {
    padding: 1.3rem 0;
  }
}

@media (min-width: 903px) {
  .nav_bar-desktop-1024 {
    display: flex;
  }
  .Container_planet-table {
    width: 80vw;
    margin: 30px 0px;
    flex-direction: row;
    justify-content: center;
    gap: 106px;
  }
  .Container_desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(20rem + 10vw);
    align-items: unset;
  }
  .buttons_planest button {
    font-size: 1rem;
    letter-spacing: 4px;
  }
  .planet_name-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: unset;
  }
  .planet_name-desc p {
    font-size: 18px;
    text-align: unset;
  }
  .Main_Content-Destination {
    margin-top: 20px;
  }
}
